.contentContainer {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #0d98ba;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  font-family: roboto;
  border-radius: 18px;
  background: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}

.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.cards {
  margin: 25px;
  grid-area: text;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: rgba(255, 7, 110);
  border-top: solid 1px black;
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: #fff;
}

.card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-stats .value {
  font-size: 22px;
  font-weight: 500;
}

.card-stats .border {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
